.pc-only{
    display: none;
}
#main-header{
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
    position: relative;
}

#main-header > .container{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-header > .container > .logo > img{
    width: 94px;
}

#mobile-menu{
    position: absolute;
    border: none;
    background: transparent;
    top: 16px;
    right: 10px;
}

#main-header .container .block{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 80px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 4;
    display: none;
}

#main-header .container .block.on{
    display: block;
}

#gnb{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    z-index: 5;
    transition: all 0.5s;
    height: 0;
}

#gnb.on{
    height: 100vh;
}

#gnb > ul{
    background: #fff;
}

#gnb > ul > li{
    width: 100%;
    z-index: 15;
    line-height: 63px;
}

#gnb > ul > li > a{
    padding-left: 15px;
    font-size: 20px;
    font-weight: 500;
    display: block;
    width: 100%;
    height: 63px;
}

#gnb > ul > li > a{
    pointer-events: none;
}


#gnb > ul > li > a{
    color: #000;
    font-weight: 500;
    font-size: 20px;
}

#gnb > ul > li > ul > li > span{
    display: none;
}

#gnb > ul > li > .depth2 li > a{
    padding-left: 15px;
    display: block;
    font-size: 18px;
    color: #000;
    background-color: rgba(18, 105, 205,0.5);
}

#gnb > ul > li > .depth2 {
    display: none;
}

#gnb > ul > li > .depth2.on{
    display: block;
}





/* 제품정보 sub-visual */
#sub-visual{
    width: 100%;
    height: 310px;
    background-image: url(../images/sub-visual3-1.jpg);
    background-position: center;
    background-size: cover;
}

#sub-visual .title{
    width: 100%;
    height: 250px;
    color: #fff;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-animation-name: moving-title;
	-webkit-animation-duration: 2.5s;
	animation-name: moving-title;
	animation-duration: 2.5s;
}

@-webkit-keyframes moving-title {
    from { 
            opacity: 0;
        }
    to { 
        opacity: 100%;
        }
}
@keyframes moving-title {
    from { 
        opacity: 0;
        }
    to { 
        opacity: 100%;
        }
}

#sub-visual .title > h3{
    font-size: 40px;
    margin-bottom: 15px;
}


/* 브레드크럼 */

#breadcrumb{
    width: 100%;
    height: 60px;
    background: rgba(18, 105, 205, 0.7);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    margin-top: -60px;
}

#breadcrumb .sub-menu{
    width: 100%;
    position: relative;
}

#breadcrumb .sub-menu > ul{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: start;
    flex: 1;
}

#breadcrumb .sub-menu > ul > li{
    display: flex;
    align-items: center;
}

#breadcrumb .sub-menu > ul > li:not(:first-child){
    width: 50vw;
    height: 60px;
    color: #fff;
    font-size: 16px;
}

#breadcrumb .sub-menu > ul > li:nth-child(2) {
    padding-left: 50px;
}

#breadcrumb .sub-menu > ul > li:nth-child(3) {
    padding-right: 50px;
}

#breadcrumb .border{
    margin-right: 40px;
    width: 2px;
    height: 38px;
    background: rgb(255, 255, 255,0.5);}


#breadcrumb .sub-menu > ul > li:not(:first-child) > img{
    margin-left: 15px;
}

#breadcrumb .sub-menu > ul > li > ul{
    position: absolute;
    top: 60px;
}

#breadcrumb .sub-menu > ul > li > .depth1{
    left: 0;
}

#breadcrumb .sub-menu > ul > li > ul > li{
    width: 50vw;
    height: 60px;
    background: rgba(18, 106, 206, 0.9);
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    line-height: 60px;
}

#breadcrumb .sub-menu > ul > li > ul{
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s;
}

#breadcrumb .sub-menu > ul > li > ul.depth1.on{
    height: 300px;
    opacity: 1;
}

#breadcrumb .sub-menu > ul > li > ul.depth2.on{
    height: 180px;
    opacity: 1;
}

#breadcrumb .sub-menu > ul > li > ul > li > a{
    color: #fff;
    font-size: 16px;
    padding-left: 40px;
    display: block;
}


/* 검색창 */
#product-contents {
    width: 100vw;
    margin-top: 60px;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

#product-contents > h2 {
    font-size: 32px;
}

#search-form .product-search-input-box {
    width: 100%;
    position: relative;
    z-index: -1;
    margin-top: 50px;
}

#search-form .product-search-input {
    width: 100%;
    height: 60px;
    padding-left: 10px;
    border: 2px solid #1269CD;
    font-size: 14px;
}

#search-form .submit-btn {
    width: 32px;
    height: 32px;
    background-image: url(../images/product-sudmit-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #fff;
    position: absolute;
    top: 14px;
    right: 10px;
    border: none;
}

#search-form .submit-btn:hover {
    cursor: pointer;
}

/* 카테고리 */
#product-contents .product-category {
    width: 100%;
    margin-top: 50px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#product-contents .category-menu > li {
    min-height: 30px;
    padding: 5px 10px;
    display: inline-block;
    border: none;
}

#product-contents .category-menu > li > a > h3 {
    color: #666;
    font-size: 17px;
    font-weight: 400;
}

/* on */
#product-contents .category-menu > li.on {
    border-bottom: 4px solid #1269CD;
}

#product-contents .category-menu > li.on > a > h3 {
    color: #1269CD;
}

/* 제품 이미지 */
#product-contents .product-info-box {
    width: 100%;
    margin: 0 auto;
}

#product-contents .info-box {
    width: 100%;
    height: 500px;
    text-align: center ;
    margin-bottom: 25px;
}

#product-contents .box1 {
    margin-top: 40px;
}

#product-contents .box3:last-child {
    margin-bottom: 0;
}

#product-contents .info-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

#product-contents .info-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#product-contents .info-box > a > p {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 18px;
    margin-top: 5px;
}

#product-contents .line {
    width: 48px;
    height: 2px;
    background: #ccc;
    margin: 0 auto;
}

#product-contents .info-box > a > h2 {
    color: #000;
    font-size: 36px;
    font-weight: 500;
    margin-top: 18px;
    margin-bottom: 18px;
}

#product-contents .info-box > a > h3 {
    color: #666;
    font-weight: 500;
}

/* 페이지 네이션 */
#product-contents .pagination {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}

#product-contents .pagination > ul > li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

#product-contents .pagination > ul > li > a {
    color: #666;
    font-size: 16px;
}
/* on, hover */
#product-contents .pagination > ul > li.on > a {
    color: #000;
    border-bottom: 1px solid #000;
}

#product-contents .pagination > ul > li:hover > a {
    color: #000;
    border-bottom: 1px solid #000;
}

/* 메인 footer */

#main-footer{
    width: 100%;
    height: 212px;
    background: #072242;
}

#main-footer .ft-bottom{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-footer .ft-bottom > img{
    margin-bottom: 25px;
    width: 90px;
}

#main-footer .ft-bottom .text{
    color: #fff;
    font-size: 11px;
    text-align: center;
    margin-bottom: 25px;
    width: 350px;
    line-height: 2em;
}

#main-footer .ft-bottom .text p:first-child > span{
    display: none;
}

#main-footer .ft-bottom .sns ul{
    display: flex;
    width: 165px;
    justify-content: space-between;
}

#main-footer .ft-bottom .sns ul li a > img{
    width: 35px;
}

#main-footer .ft-bottom > button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #51647A;
    color: #fff;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 15px;
    font-size: 12px;
}


#main-footer .ft-bottom > button > img{
    margin-bottom: 8px;
}