.mobile-only{
    display: none;
}

/* header(메뉴바 부분 */

#main-header{
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.25);
}

#main-header > .container{
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

#main-header > .container > .logo{
    position: absolute;
    left: 25px;
    top: 22px;
}

#gnb > ul {
    display: flex;
    position: absolute;
    top: 22px;
    left: 381px;
}

#gnb > ul > li{
    width: 94px;
    z-index: 15;
    display: flex;
    justify-content: center;
}

#gnb > ul > li > a{
    font-size: 20px;
    font-weight: 400;
    display: block;
    height: 60px;
}

#gnb > ul > li:not(:last-child){
    margin-right: 50px;
}

#gnb > ul > li > a{
    color: #000;
    font-weight: 500;
    font-size: 20px;
}

#gnb > ul > li > .depth2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 65px;
    top: 60px;
    z-index: 10;
    color: #fff;
    display: none;
    text-align: center;
}

#gnb > ul > li > .depth2.on{
    display: flex;
    min-width: 400px;
}

#gnb > ul > li > .depth2 > li > a{
    color: #fff;
}

#gnb > ul > li > .depth2 > li > a:hover{
    color: #FFE816;
}

#gnb > ul > li > .depth2 > li > span{
    margin: 0 50px;
}

#main-header .depth2-box{
    width: 100vw;
    margin: 0 auto;
    background: rgba(18, 105, 205, 0.8);
    position: absolute;
    height: 0;
    top: 80px;
    z-index: 9;
    transition: all 0.3s;
}

#main-header .depth2-box.on{
    height: 65px;
    opacity: 1;
}


#site-map{
    position: absolute;
    top: 29.33px;
    right: 25px;
    background: transparent;
    border: none;
}

#site-map:hover{
    cursor: pointer;
}




/* 사이트맵 */
#sitemap-modal{
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: none;
    position: fixed;
    top: 0;
}

#sitemap-modal.on{
    display: block;
}

#sitemap-modal .container{
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#sitemap-modal .logo{
    position: absolute;
    left: 25px;
    top: 22px;
}

#sitemap-modal .close{
    position: absolute;
    right: 26.29px;
    top: 31.29px;
    border: none;
    background: transparent;
}

#sitemap-modal .close:hover{
    cursor: pointer;
}

#sitemap-modal .sitemap > ul{
    display: flex;
    text-align: center;
}


#sitemap-modal .sitemap > ul > li:not(:last-child){
    margin-right: 50px;
}

#sitemap-modal .sitemap > ul > li > a{
    width: 160px;
    color: #000;
    font-size: 38px;
    font-weight: 500;
    display: block;
    height: 75px;
    line-height: 75px;
    margin-bottom: 40px;
    border-bottom: 3px solid #333;
}


#sitemap-modal .sitemap .depth2 li a{
    color: #000;
    font-size: 26px;
    font-weight: 400;
    display: block;
}

#sitemap-modal .sitemap .depth2 li a:hover{
    color: #1269CD;
}

#sitemap-modal .sitemap .depth2 li:not(:last-child){
    margin-bottom: 50px;
}

/* * ------------------------------ * Unfolding Animation * ------------------------------ */ #sitemap-modal.on { 
    /*transform: scaleX(0) scaleY(1);*/ 
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; 
} 

#sitemap-modal.on .container .sitemap { 
    /* 초기 display: none 처럼 크기를 0 으로 하여 보여주지 않음*/ 
    transform: scale(0); 
    /* 0.5 초 동안 애니메이션을 실행, 단 0.8초 지연시켜 0.8초 후에 애니메이션을 실행 */ 
    animation: zoomIn .5s .8s 
    cubic-bezier(0.165, 0.84, 0.44, 1) 
    forwards; 
}

/* Dimmed showing */ 
@keyframes unfoldIn { 
    0% { 
        transform: scaleX(0) scaleY(0.005); 
    } 50% { 
        /* 0.5 초간 세로 크기는 작은상태로 가로 너비만 확대 */ 
        transform: scaleX(1) scaleY(0.005); 
    } 100% { 
        /* 0.5 초간 세로 크기를 확대 */ 
        transform: scaleY(1) scaleX(1); 
    } 
} 

/* Show modal content */ 
@keyframes zoomIn {
     from { 
         transform: scale(0); 
        } to { 
        transform: scale(1); 
        } 
    } 

    /* Hide modal content */ 
@keyframes zoomOut {
     from { 
        transform: scale(1); 
        } to { 
        transform: scale(0); 
        } 
    } 

/* Dimmed hiding */ 
@keyframes unfoldOut { 
    0% { 
        transform: scale(1) 
    } 50% { 
        transform: scaleX(1) scaleY(0.005); 
    } 100% { 
        transform: scaleX(0) scaleY(0.005); 
    } 
}



/* 서브 메뉴 */

#sub-visual{
    width: 100%;
    height: 370px;
    background-image: url(../images/title3.jpg);
    background-size: cover;
    background-position: center;
}

#sub-visual .title{
    width: 1440px;
    margin: 0 auto;
    height: 370px;
    color: #fff;
    font-size: 18px;
    padding-top: 113px;
    padding-left: 120px;
    -webkit-animation-name: moving-title;
    -webkit-animation-duration: 3s;
    animation-name: moving-title;
    animation-duration: 3s;
}

@-webkit-keyframes moving-title {
    from { padding-left: 0%;
            opacity: 0;
        }
    to { padding-left: 120px;
        opacity: 100%;
        }
}
@keyframes moving-title {
    from { padding-left: 0%;
        opacity: 0;
        }
    to { padding-left: 120px; 
        opacity: 100%;

        }
}

#sub-visual .title > h3{
    font-size: 48px;
    margin-bottom: 10px;
}

/* 브레드크럼 */

#breadcrumb{
    width: 1440px;
    margin: -60px auto;
    height: 60px;
    background: rgba(18, 105, 205, 0.7);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

#breadcrumb .sub-menu{
    position: relative;
    padding-left: 120px;
}

#breadcrumb .sub-menu > ul{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: start;
}

#breadcrumb .sub-menu > ul > li{
    display: flex;
    align-items: center;
}


#breadcrumb .sub-menu > ul > li:hover{
    cursor: pointer;
}

#breadcrumb .sub-menu > ul > li:first-child > a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

#breadcrumb .sub-menu > ul > li:not(:first-child){
    width: 200px;
    height: 60px;
    color: #fff;
    font-size: 18px;
}

#breadcrumb .border{
    margin-right: 40px;
    width: 2px;
    height: 42px;
    background: rgb(255, 255, 255,0.5);
}

#breadcrumb .sub-menu > ul > li:not(:first-child) > img{
    margin-left: 30px;
}

#breadcrumb .sub-menu > ul > li > ul{
    position: absolute;
    top: 60px;
}

#breadcrumb .sub-menu > ul > li > ul > li{
    width: 200px;
    height: 60px;
    background: rgba(18, 106, 206, 0.9);
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    line-height: 60px;
}

#breadcrumb .sub-menu > ul > li > ul > li:hover{
    background: rgb(18, 106, 206);
}


#breadcrumb .sub-menu > ul > li > ul{
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s;
}

#breadcrumb .sub-menu > ul > li > ul.depth1.on{
    height: 300px;
    opacity: 1;
    z-index: 99;
}

#breadcrumb .sub-menu > ul > li > ul.depth2.on{
    height: 100%;
    opacity: 1;
}

#breadcrumb .sub-menu > ul > li > ul > li > a{
    color: #fff;
    font-size: 18px;
    display: block;
    width: 200px;
    padding-left: 40px;
}

#breadcrumb > .sub-menu > a{
    position: absolute;
    height: 60px;
    top: 0;
    right: 120px;
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

#breadcrumb .sub-menu > a > .border{
    margin-right: 20px;
}

#breadcrumb .sub-menu > a > img{
    margin-left: 20px;
}






/* contents3 */
#contents3 {
    margin: 0 auto;
    width: 1440px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-flow: column;
    position: relative;
    z-index: -2;
    margin-top: 90px;
    margin-bottom: 150px;
}

#contents3 > .text-box {
    display: flex;
    width: 1200px;
    margin-top: 100px;
}

#contents3 > .text-box > h3 {
    width: 100px;
    font-size: 32px;
    font-weight: 500;
    margin-right: 120px;
}

#contents3 > .text-box > h3 > span {
    border-top: 4px solid #1269CD;
}

#contents3 > .text-box > p {
    width: 1000px;
    padding-top: 10px;
    line-height: 30px;
}

#contents3 > .text-box > p > span {
    font-size: 24px;
    font-weight: 700;
}

#contents3 > .img-box{
    width: 1440px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#contents3 > .img-box > p{
    margin-top: 20px;
    font-size: 18px;
}

/* 메인 footer */

#main-footer{
    width: 100%;
    height: 212px;
    background: #072242;
}

#main-footer .ft-bottom{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-footer .ft-bottom > img{
    margin-bottom: 25px;
    width: 90px;
}

#main-footer .ft-bottom .text{
    color: #fff;
    font-size: 11px;
    text-align: center;
    margin-bottom: 25px;
    width: 350px;
    line-height: 2em;
}

#main-footer .ft-bottom .text p:first-child > span{
    display: none;
}

#main-footer .ft-bottom .sns ul{
    display: flex;
    width: 165px;
    justify-content: space-between;
}

#main-footer .ft-bottom .sns ul li a > img{
    width: 35px;
}

#main-footer .ft-bottom > button{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #51647A;
    color: #fff;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 15px;
    font-size: 12px;
}


#main-footer .ft-bottom > button > img{
    margin-bottom: 8px;
}



/* 메인 footer */

#main-footer{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: #072242;
    padding-bottom: 15px;
}

#main-footer .ft-top{
    width: 1440px;
    margin: 0 auto;
    height: 63px;
    position: relative;
}

#main-footer .ft-menu{
    display: flex;
    position: absolute;
    top: 20px;
    left: 30px;
}

#main-footer .ft-menu li > a{
    color: #fff;
    font-size: 16px;
}

#main-footer .ft-menu li > span{
    margin-right: 30px;
    margin-left: 30px;
    color: #fff;
    font-size: 14px;
}

#family-site{
    width: 287px;
    height: 63px;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 19px 20px;
    background: rgba(255, 255, 255, 0.6);
    border: none;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
}

#family-site:hover{
    cursor: pointer;
}

#family-site > img{
    margin-left: 110px;
}

#main-footer .ft-top .family-site-list{
    position: absolute;
    right: 0;
    top: -129px;
    display: none;
}

#main-footer .ft-top .family-site-list.on{
    display: block;
}

#main-footer .ft-top .family-site-list li{
    width: 287px;
    height: 65px;
    background: rgba(200, 215, 232, 0.8);
}

#main-footer .ft-top .family-site-list li a{
    display: block;
    width: 287px;
    height: 65px;
    padding-left: 20px;
    padding-top: 21px;
    color: #000;
    font-size: 20px;
}


#main-footer .ft-bottom{
    width: 1440px;
    margin: 0 auto;
    height: 146px;
    border-top: 1px solid #c4c4c4;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
}

#main-footer .ft-bottom > img{
    margin-right: 36px;
}

#main-footer .ft-bottom .text{
    width: 661px;
    color: #fff;
    font-size: 12px;
    text-align: justify;
}

#main-footer .ft-bottom .text p:first-child{
    font-size: 14px;
    margin-bottom: 10px;
}

#main-footer .ft-bottom .text p:first-child > span{
    font-size: 12px;
    margin-right: 1em;
    margin-left: 1em;
}

#main-footer .ft-bottom .sns ul{
    display: flex;
    width: 170px;
    justify-content: space-between;
    margin-left: 310px;
}

#main-footer .ft-bottom > button{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #51647A;
    color: #fff;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 20px;
}

#main-footer .ft-bottom > button:hover{
    cursor: pointer;
    font-size: 14px;
}

#main-footer .ft-bottom > button > img{
    margin-bottom: 5px;
}
